body {
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
}

button {
  padding: 10px;
  border: none;
  margin: 10px;
}

.dark-theme {
  background-color: darkblue;
  color: whitesmoke;
}

.light-theme {
  background-color: pink;
  color: #333333;
}
